* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(240, 242, 245);
}

a {
    text-decoration: none;
    color: #5f5f5f;
}

ul {
    list-style: none;
}

.navbar {
    display: flex;
    padding: 6px 6%;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    top: 0;
    z-index: 100px;
    position: sticky;
    box-shadow: 2px 2px 5px rgba(0, 0, 0 , 0.1);
}

.logo img {
    width: 30px;
    display: block;
}

.navbar-menu ul {
    display: flex;
}

.navbar-menu ul li {
    margin: 8px;
}

.navbar-menu ul li a {
    display: flex;
    align-items: center;
    font-size: 16px;
    padding-right: 5px;
    position: relative;
}

.navbar-menu ul li a img {
    width: 30px;
}

.navbar-menu ul li a::after {
    content: '';
    width: 0;
    height: 2px;
    background: rgb(34, 115, 246);
    bottom: -20px;
    position: absolute;
    transition: width 0.5s;
}

.navbar-menu ul li a:hover::after {
    width: 100%;
}

.navbar-menu ul li a.active-link::after {
    width: 100%;
}

.profile img {
    width: 40px;
    border-radius: 50%;
    display: block;
    cursor: pointer;
    position: relative;
}

.online {
    position: relative;
}

.online::after {
    content: '';
    width: 7px;
    height: 7px;
    background: rgb(2, 205, 2);
    top: 0;
    right: 0;
    position: absolute;
    border: 1px solid #fff;
    border-radius: 50%;
}

.search-box {
    background: #ececec;
    display: flex;
    align-items: center;
    padding: 6px 12px;
    margin-left: 16px;
    width: 250px;
    border-radius: 20px;
}

.search-box img {
    width: 15px;
}

.search-box input {
    outline: none;
    border: none;
    background: transparent;
    padding-left: 10px;
}

.navbar-left {
    display: flex;
}
/*--------- navbar end ------------*/
